---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { projects } from "../data/projects";
---
...
<div class="grid">
  {projects.filter(p => p.featured).map(p => <ProjectCard {...p} />)}
</div>